.Nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
  color: var(--clr-primary-8);
}
.NavCenter {
  width: 90vw;
  max-width: var(--max-width);
}
.NavHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Btn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: white;
  background: var(--clr-black);
  cursor: pointer;
  transition: var(--transition);
}
.Btn:hover {
  background: var(--clr-grey-5);
}
.NavLinks {
  display: none;
}
.SigninBtn {
  display: none;
}

@media screen and (min-width: 800px) {
  .NavCenter {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .ToggleBtn {
    display: none;
  }
  .SigninBtn {
    display: inline-block;
  }
  .NavLinks {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .NavLinks li {
    height: 100%;
  }
  .LinkBtn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
  }
}
