.DarkTheme {
  --clr-bcg: #380555;
  --clr-font: #e02fd7;
  --clr-primary: #9136e659;
}
.LightTheme {
  --clr-bcg: #f010f865;
  --clr-font: #06113b;
  --clr-primary: #7b0e8550;
}

.Main {
  background-color: var(--clr-bcg);
}
.Markdown {
  padding: 4rem;
  display: grid;
  row-gap: 4rem;
}
.Input {
  border-color: transparent;
  border-radius: var(--radius);
  font-size: 1.2rem;
  line-height: 2;
  box-shadow: var(--dark-shadow);
  min-height: 30vh;
}
.Input,
.Result {
  padding: 1rem 2rem;
}

@media screen and (min-width: 992px) {
  .Markdown {
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
}
/* unique styles */
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
blockquote {
  font-size: 2rem;
  font-style: italic;
  border-left: 5px solid var(--clr-grey-5);
  color: var(--clr-grey-5);
  padding-left: 2rem;
  line-height: 2;
  margin-bottom: 1.5rem;
}
blockquote ::first-letter {
  text-transform: uppercase;
}
pre {
  background: #222;
  display: inline-block;
  border-radius: var(--radius);
  padding: 1rem 2rem;
  color: yellow;
  margin-bottom: 1.5rem;
}
.Btn {
  background: var(--clr-primary);
  color: var(--clr-font);
  padding: 0.25rem 0.5rem;
  margin: 10px;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}
