.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Questions
===============
*/

main {
  min-height: 100vh;
  /* using flex because of better browser support */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9046ae33;
}

.Container {
  width: 90vw;
  margin: 5rem auto;
  border-radius: 0.25rem;
  padding: 2.5rem 2rem;
  max-width: 1170px;
  display: grid;
  gap: 1rem 2rem;
}
.Container h3 {
  line-height: 1.2;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .Container {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
}
.Question {
  padding: 1rem 1.5rem;
  border: 2px solid var(--clr-grey-special);
  margin-bottom: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.Question h4 {
  text-transform: none;
  line-height: 1.5;
}
.Question p {
  color: var(--clr-grey-3);
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.Question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Question header h4 {
  margin-bottom: 0;
}
.Btn {
  background: transparent;
  border-color: #9046ae33;
  width: 4rem;
  height: 4rem;
  display: flex;
  background-color: #cc15b473;
  align-items: center;
  justify-content: center;
  color: #45076b;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
}
